body{
    width: 1440px;
    height: 900px;
    background-image: url("assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    color: #FFFF;
    margin: 0;
    background-color: #0B0D17;
}

/*******************************TOP******************************/



a{
    text-decoration: none;
    color: #FFFFFF;
}

.top{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    width: 1385px;
    height: 96px;
    position: absolute;
    top: 40px;
    left: 55px;
}

.top-rec1{
    width: 473px;
    height: 1px;
    opacity: 25.15%;
    background-color: #FFFFFF;
    position: absolute;
    top: 48px;
    left: 112px;
}
.top-rec2{
    width: 830px;
    height: 96px;
    position: absolute;
    left: 555px;
    background: #FFFFFF0A;
    backdrop-filter: blur(40px);
}

.oval{
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 24px;
}

.path{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
}
.topname{
    margin: 0;
    margin-right: 48px;
    text-decoration: none;
}

.top-text{
    position: absolute;
    left: 123px;
    top: 39px;
}

.numbers{
    font-weight: 700;
    margin-right: 12px;
}

.name{
    font-weight: 400;
}

.top-selector-1{
    width: 70px;
    height: 57px;
    background-color: #ffffff00;
    position: absolute;
    top: 0px;
    left: 0px;
}

.top-selector-1:hover{
    width: 70px;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 0px;
}


.top-selector-2{
    width: 127px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 54px;
    left: 126px;
}

/*
.top-selector-2:hover{
    width: 127px;
    height: 3px;
    background-color: #ffffff;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 126px;
}
*/

.top-selector-3{
    width: 71px;
    height: 57px;
    background-color: #ffffff00;
    position: absolute;
    top: 0px;
    left: 310px;
}

.top-selector-3:hover{
    width: 71px;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 310px;
}


.top-selector-4{
    width: 127px;
    height: 57px;
    background-color: #ffffff00;
    position: absolute;
    top: 0px;
    left: 436px;
}

.top-selector-4:hover{
    width: 127px;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 436px;
}

/*******************************TOP******************************/

/*******************************LEFT******************************/

h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 4.72px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.planet-img{
    height: 445px;
    width: 445px;
    position: absolute;
    top: 343px;
    left: 230px;
}

.left{
    position: absolute;
    top: 212px; 
    left: 166.5px;
}

.left-num{
    font-weight: 700;
    opacity: 25%;
}

.left-sen{
    font-weight: 400;
    margin-left: 28px;
}

/*******************************LEFT******************************/

/*******************************RIGHT******************************/

a{
    text-decoration: none;
    color: #FFFFFF;
}

h1{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 114.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    left: 0.5px;
    top: 71px;
}

p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #D0D6F9;
    margin: 0;
    position: absolute;
    top: 200px;
    left: 0; 
}


.right{
    width: 445px;
    height: 472px; 
    position: absolute;
    top: 310px; 
    left: 832px;
}

.planet-names{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    margin: 0;
    margin-right: 35px;
}

              /*****HOVER******/

            
.europa{
    color: #ffffff;
}

.p-sel-1{
    width: 41px;
    height: 34px;
    background-color: #ffffff00;
    position: absolute;
    left: 0;
    top: 0;
}

.p-sel-1:hover{
    width: 41px;
    height: 3px;
    background-color: #ffffff;
    opacity: 50%;
    position: absolute;
    left: 0;
    top: 31px;
}

.p-sel-2{
    width: 41px;
    height: 34px;
    background-color: #ffffff00;
    position: absolute;
    left: 79px;
    top: 0px;
}


.p-sel-2:hover{
    width: 41px;
    height: 3px;
    background-color: #ffffff;
    opacity: 50%;
    position: absolute;
    left: 79px;
    top: 31px;
}


.p-sel-3{
    width: 56px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 160px;
    top: 31px;
}
/*
.p-sel-3:hover{
    width: 56px;
    height: 3px;
    background-color: #ffffff;
    opacity: 50%;
    position: absolute;
    left: 160px;
    top: 31px;
}
*/
.p-sel-4{
    width: 48px;
    height: 34px;
    background-color: #ffffff00;
    position: absolute;
    left: 254px;
    top: 0px;
}

.p-sel-4:hover{
    width: 48px;
    height: 3px;
    background-color: #ffffff;
    opacity: 50%;
    position: absolute;
    left: 254px;
    top: 31px;
}

              /*****HOVER******/

.right-rec{
    width: 444px;
    height: 1px;
    background-color: #383B4B;
    position: absolute;
    top: 382px;
    left: 1px;
}

.end-des{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2.36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;   
}

.end-value{
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32.09px;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 29px;   
}

.end-1{
    width: 180px;
    height: 61px;
    position: absolute;
    top: 411px;
    left: 0.5px;
}

.end-2{
    width: 180px;
    height: 61px;
    position: absolute;
    top: 411px;
    left: 225.2px;
}

/*******************************RIGHT******************************/