
body{
    width: 1440px;
    height: 900px;
    background-image: url("assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    color: #FFFF;
    background-color: #0B0D17;
    margin: 0;   
}


/*******************************TOP******************************/


a{
    text-decoration: none;
    color: #FFFFFF;
}

.top{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    width: 1385px;
    height: 96px;
    position: absolute;
    top: 40px;
    left: 55px;
}

.top-rec1{
    width: 473px;
    height: 1px;
    opacity: 25.15%;
    background-color: #FFFFFF;
    position: absolute;
    top: 48px;
    left: 112px;
}
.top-rec2{
    width: 830px;
    height: 96px;
    position: absolute;
    left: 555px;
    background: #FFFFFF0A;
    backdrop-filter: blur(40px);
}

.oval{
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 24px;
}

.path{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
}

.topname{
    margin: 0;
    margin-right: 48px;
    text-decoration: none;
}

.top-text{
    position: absolute;
    left: 123px;
    top: 39px;
}

.numbers{
    font-weight: 700;
    margin-right: 12px;
}

.name{
    font-weight: 400;
}

.top-selector-1{
    width: 70px;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    top: 54px;
    left: 0px;
}
/*
.top-selector-1:hover{
    width: 70px;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 0px;
}
*/

.top-selector-2{
    width: 127px;
    height: 57px;
    background-color: #ffffff00;
    position: absolute;
    top: 0px;
    left: 126px;

}

.top-selector-2:hover{
    width: 127px;
    height: 3px;
    background-color: #ffffff;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 126px;

}

.top-selector-3{
    width: 71px;
    height: 57px;
    background-color: #ffffff00;
    position: absolute;
    top: 0px;
    left: 310px;
}

.top-selector-3:hover{
    width: 71px;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 310px;
}


.top-selector-4{
    width: 127px;
    height: 57px;
    background-color: #ffffff00;
    position: absolute;
    top: 0px;
    left: 436px;
}

.top-selector-4:hover{
    width: 127px;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 50%;
    position: absolute;
    top: 54px;
    left: 436px;
}

/*******************************TOP******************************/



/*******************************LEFT******************************/

h1{
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 400;
    line-height: 171.9px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #000000;
    margin: 0;
    position: absolute;
    left: 0;
    top: 58px;
}


h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    color: #D0D6F9;
    margin: 0;
    position: absolute;
    left: 0.5px;
}

p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #D0D6F9;
    margin: 0;
    position: absolute;
    top: 254px;
    left: 0.5px;
}

.left{
    width: 450px;
    height: 382px; 
    position: absolute;
    top: 387px; 
    left: 165px;
}



/*******************************LEFT******************************/



/*******************************RIGHT******************************/


h2{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36.67px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0B0D17;
    margin: 0;
    position: absolute;
    top: 614px;
    left: 1063px;

}





.circle {
    background: #FFFFFF;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    position: absolute;
    top: 495px;
    left: 1001px;
}

.c-hover {
    background: #FFFFFF;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    position: absolute;
    top: 495px;
    left: 1001px;
}
.c-hover:hover {
    background-color: #FFFFFF;
    opacity: 10.36%;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    top: 407px;
    left: 913px;  
}



/*******************************RIGHT******************************/